<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <style type="text/css">
.heading {
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
}


.left-padding {
    padding-left: 15px;
}

.main-content {
    FONT-SIZE: 14px;
    font-family: Arial,Helvetica,sans-serif;
}
.button{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
 </style>

</head>
<body>

  <div class="container" style="background-color: #006699;">
    <div class="row">
        <div class="col-md-offset-3 col-centered left-padding">
        <h1 class="heading">Wel-Come</h1>
</div>
</div>
</div>

<div class="container" style="background-color: #e9f5fb;">
    <div class="row">
    <div class="col-md-offset-3 col-centered main-content left-padding">
<p><em>&ldquo;Dear Parent of {{name}}:</em></p>

<p><em>Thank you very much for enrolling your child in New Horizons Tutorial Center. </em></p>

<p>&nbsp;</p>

<p><em>We hope your child is learning and understanding the course materials that are designed for his/her level of proficiency.</em></p>

<p><em>Please do take some time to visit the links provided by the buttons below in order for us to serve your child better.</em></p>

<p><em>Please do not hesitate to set up an appointment with the director if so needed. </em></p>

<p><em>The available time slots for the appointments are obtained by accessing the appropriate button given below.</em></p>

<p>&nbsp;</p>

<p><em>Thanking you.</em></p>

<p><em>With Regards,</em></p>

<p><em>Dr. A. Adhya, Ph.D.</em></p>

<p><em>Director, New Horizons Tutorial Center</em></p>

<p><em>Clarksville, MD 20926</em></p>
  </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-centered">
      {% for feedback in feedbacks %}

        <a href="http://127.0.0.1:8000/{{feedback.code}}"><button type="button" class="btn btn-primary button">{{feedback.feedback_type}}</button></a>
      {% endfor %}
  </div>
  </div>
  </div>
</body>
</html>
